[{:itonami.blueprint/social-impact [:worker-safety :housing-durability :local-jobs], :itonami.blueprint/domain :construction/roofing-coordination, :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger], :itonami.blueprint/isco-08 "7121", :itonami.blueprint/name "Roofing Crew Scheduling & Logistics Coordination Service", :itonami.blueprint/governor :roof-coord-governor, :itonami.blueprint/robotics true, :db/id -1, :itonami.blueprint/status :public-oss, :itonami.blueprint/id "cloud-itonami-isco-7121", :itonami.blueprint/license "AGPL-3.0-or-later"}]
